name: ci

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-node@v2.1.4
        with:
          node-version: 12

      - id: cache-node-modules
        uses: actions/cache@v2.1.4
        with:
          path: node_modules
          key: npm-${{ hashFiles('package-lock.json') }}

      - run: echo ${{steps.cache-node-modules.outputs.cache-hit}} ${{ steps.cache-node-modules.outputs.cache-hit == 'false'}}

      - if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
        run: npm install

      - run: npm run lint

      - run: npm run test

      # - uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.github_token }}

      - name: Deploy
        if: github.ref == 'refs/heads/master'
        run: ./node_modules/.bin/serverless deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_iot_endpoint: ${{ secrets.aws_iot_endpoint }}
          hostname: ${{ secrets.hostname }}
          app_id: ${{ secrets.app_id }}
          user_code: ${{ secrets.user_code }}
          panel_id: ${{ secrets.panel_id }}
          email: ${{ secrets.email }}
          password: ${{ secrets.password }}
